<div class="head d-flex">

</div>
<div class="mb-3"> Emprunts du livre 
<span class="fw-bold">{{livreTitre}}</span>    
</div>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Date emprunt</th>
        <th scope="col">Date retour</th>
        <th scope="col">Date de retour estimée</th>
        <!-- <th scope="col">Nombre de relances</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personne of personnes; let i = index"   
      >        
      <!-- [ngClass]="{ 'table-danger': personne.id_personne > 3 }" -->
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ personne.nom_personne }}  {{personne.prenom_personne}}</td>
        <td>{{personne.date_emprunt | date}}</td>
        <td>{{personne.date_retour | date}}</td>
        <td>{{personne.date_retour_prevue | date }}</td>
        <!-- <td>3</td> -->
      </tr>
    </tbody>
  </table>
</div>

