<div class="head"></div>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ISBN</th>
        <th scope="col">Auteur</th>
        <th scope="col">Titre</th>
        <th scope="col">Date de Publication</th>
        <th scope="col">Nombre d'exemplaires</th>
        <th scope="col">Nombre d'exemplaires restants</th>
        <th scope="col">Nombre d'exemplaires empruntés</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let livre of livres; let i = index"
        (mouseover)="onMouseOver($event, i)"
        (mouseout)="onMouseOut($event)"
      >
        <th>
          {{ i + 1 }}
        </th>
        <td>{{ livre.isbn || "Non disponible" }}</td>
        <td>{{ livre.auteur || "Non disponible" }}</td>
        <td>{{ livre.titre || "Non disponible" }}</td>
        <td>{{ livre.date | date : "mediumDate" }}</td>
        <td>{{ livre.nombreExamplaires }}</td>
        <td>{{ livre.nombreExamplairesRestants }}</td>
        <td>
          {{
            (livre.nombreExamplaires || 0) -
              (livre.nombreExamplairesRestants || 0)
          }}
        </td>
        <td class="d-flex gap-2">
          <button
            type="button"
            (click)="redirect(livre.id, livre.titre)"
            class="btn btn-primary"
          >
            Visualiser
          </button>
          <button
            type="button"
            class="btn btn-success"
            [disabled]="livre.nombreExamplairesRestants == 0"
            (click)="reserver(livre)"
          >
            Réserver
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
